body { font-family: "Poppins", sans-serif; }

.btn.btn-light.btn-lg.rounded-pill {
  background-color: #77e0e4; 
  border: none;
}

nav.navbar, #firstContent, #secondContent {
  max-width: 1328px;
  width: 100%;
  margin: 0 auto;
}

nav.navbar {
  margin-bottom: -2em;
  z-index: 999;
}

.card-img-container {
  position: absolute; 
  z-index: -10; 
  border: none;
  width: 100%;
  max-height: 972px;
  overflow: hidden;
  height: 972px;
}

.card-img {
  width: 100%;
  object-fit: cover;
  height: 100%;  
}

.card-img-overlay {
  background-color: rgb(0 0 0 / 74%);
}

.title-container {
  align-self: flex-start;
  margin-top: 6em;
}

.title-container > div {
  color: #BABACB;
  font-size: 15px;
  border-left: 4px solid rgba(225, 225, 240, 0.23);
  margin-top: 3em;
  position: relative;
}

.title-container > div:before {
  content: '';
  height: 33px;
  width: 4px;
  background-color: #77e0e4;
  position: absolute;
  left: -4px;
  top: 0;
}

.title-container > div button {
  color: #454550;
  padding: auto;
  background-color: #77e0e4; 
  border: none;
  width: 180px;
  height: 53px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em;
}

.man-photo {
  max-width: 660px;
  width: 100%;
}

.section-businessman > div > div {
  padding-top: 10px;
  background-color: #77e0e4;
}

#como-funciona .businessman-small div > div {
  height: 100%;
  padding-top: 10px;
}

#como-funciona .businessman-small > div {
  width: 100%;
  height: 100%;
}

.section-businessman img {
  width: 100%;
  height: 150px;
}

.businessman-small {}

.businessman-big p {
  font-size: 22px;
}

.businessman-big img {
  font-size: 22px;
  height: 200px;
}

.form-select {
  width: 100%;
}

.select2-container { width: 100% !important; }

#form-result .businessman-big p {
  font-size: 36px;
}

/* Modais */

.modal-dialog { 
  border-radius: 12px;
  max-width: 662px;
}

.modal .modal-body > img {
  display: block;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 1.5em;
}

.modal .modal-body > p:not(.display-6) { color: #81818E; }

.fs-35 { font-size: 35px; }
.fs-16 { font-size: 16px; }
.fs-14 { font-size: 14px; }
.fs-12 { font-size: 12px; }

.color-e1 { color: #1E1E1E !important; }
.color-81 { color: #81818E !important; }
.color-45 { color: #454550 !important; }
.color-6b { color: #6B7280 !important; }

.border-box { 
  border: 1px solid #E6E6E6;
  border-radius: 12px;
}

#pagamento-com-boleto .date {
  margin-bottom: 1em;
  display: block;
}

#pagamento-com-boleto .border-box .border-box {
  max-width: 433px;
  margin: 0 auto;
}

/*  */

@media (min-width: 992px) and (max-width: 1370px) {
  nav.navbar, #firstContent, #secondContent {
    padding: 0 2em !important;
  }
}

@media (min-width: 992px) and (max-width: 1220px) {
  #firstContent {
    margin-bottom: 4em;
  }
}

@media (max-width: 991px) {

  .navbar-toggler {
    box-shadow: none !important;
    border: none;
  }

  #mobileMenuModal .modal-dialog { margin: 0; }

  #mobileMenuModal .modal-dialog .modal-content {
    height: 100dvh; 
    background-color: #1E1E1E;
  }

  #mobileMenuModal .modal-header { border-bottom: none; }

  #mobileMenuModal .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #mobileMenuModal .modal-header .logo-sewe {
    max-width: 310px;
    margin: 1.5em auto 2em;
  }

  #mobileMenuModal .btn-close {
    background-image: none;
    opacity: 1;
    margin: 0 auto 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mobileMenuModal .nav-item { margin: 2.5em auto !important; }

  #mobileMenuModal .nav-item a { color: #fff !important; }

  .card-img { object-position: 33%; }

  nav.navbar, #firstContent, #secondContent {
    width: 96%;
  }

  .logo-sewe { width: 226px; }

  .container-man {
    text-align: end !important;
  }

  .man-photo { 
    max-width: 223px;
    margin-top: -30px;
  }

  #como-funciona .businessman-big .card-body { padding-top: 0; }

  #como-funciona .businessman-big p {
    font-size: 20px;
  }

  #como-funciona .businessman-big .card-body .col-lg-2 { width: 30%; }

  #como-funciona .businessman-big .card-body .col-lg-6 { width: 70%; }

  #como-funciona .businessman-big .card-body .col-lg-4 {
    width: 75%;
    margin-left: auto;
  }

  #form-result .btns-form-result {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1em;
  }

  #form-result .btns-form-result button { 
    margin-top: 3em !important;
    max-width: 257px;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  #pagamento-com-boleto .border-box > .border-box > span {
    word-break: break-word;
    text-align: left;
  }

  #pagamento-com-boleto .border-box > .border-box > button {
    width: 157px;
    margin-left: 1em !important;
  }
}

@media (max-width: 415px) {
  .man-photo { margin-top: 1em; }
}